<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Activation</title>
        <input-field type="bool">
            <name>ciActivation</name>
            <label>Enable/Disable the Module</label>
            <defaultValue>true</defaultValue>
        </input-field>
    </card>

    <card>
        <title>Token or CNAME</title>
        <input-field type="text">
            <name>ciToken</name>
            <label>Cloudimage token or custom domain</label>
            <placeholder>abcdefgh or img.company.com</placeholder>
        </input-field>
    </card>

    <card>
        <title>Use Origin URL</title>
        <input-field type="bool">
            <name>ciUseOriginalUrl</name>
            <label>If enabled, the plugin will only add query parameters to the image source URL, avoiding double CDN in
                some cases, like if you have aliases configured.
            </label>
        </input-field>
    </card>

    <card>
        <title>Lazy Loading</title>
        <input-field type="bool">
            <name>ciLazyLoading</name>
            <label>If enabled, only images close to the current viewpoint will be loaded.</label>
        </input-field>
    </card>

    <card>
        <title>Ignore SVG Image</title>
        <input-field type="bool">
            <name>ciIgnoreSvgImage</name>
            <label>By default, No</label>
        </input-field>
    </card>

    <card>
        <title>Prevent Image Upsize</title>
        <input-field type="bool">
            <name>ciPreventImageUpsize</name>
            <label>If you set Maximum "Pixel ratio" equal to 2, but some of your assets does not have min retina size(at
                least 2560x960), please enable this to prevent image resized. By default, yes.
            </label>
        </input-field>
    </card>

    <card>
        <title>Image Quality</title>
        <input-field type="single-select">
            <name>ciImageQuality</name>
            <label>The smaller the value, the more your image will compressed. Careful - the quality of the image will
                decrease as well. By default, 90.
            </label>
            <options>
                <option>
                    <id>100</id>
                    <name>100</name>
                </option>
                <option>
                    <id>95</id>
                    <name>95</name>
                </option>
                <option>
                    <id>90</id>
                    <name>90</name>
                </option>
                <option>
                    <id>85</id>
                    <name>85</name>
                </option>
                <option>
                    <id>80</id>
                    <name>80</name>
                </option>
                <option>
                    <id>75</id>
                    <name>75</name>
                </option>
                <option>
                    <id>70</id>
                    <name>70</name>
                </option>
                <option>
                    <id>65</id>
                    <name>65</name>
                </option>
                <option>
                    <id>60</id>
                    <name>60</name>
                </option>
                <option>
                    <id>55</id>
                    <name>55</name>
                </option>
                <option>
                    <id>50</id>
                    <name>50</name>
                </option>
                <option>
                    <id>45</id>
                    <name>45</name>
                </option>
                <option>
                    <id>40</id>
                    <name>40</name>
                </option>
                <option>
                    <id>35</id>
                    <name>35</name>
                </option>
                <option>
                    <id>30</id>
                    <name>30</name>
                </option>
                <option>
                    <id>25</id>
                    <name>25</name>
                </option>
                <option>
                    <id>20</id>
                    <name>20</name>
                </option>
                <option>
                    <id>15</id>
                    <name>15</name>
                </option>
                <option>
                    <id>10</id>
                    <name>10</name>
                </option>
                <option>
                    <id>5</id>
                    <name>5</name>
                </option>
            </options>
            <defaultValue>90</defaultValue>
        </input-field>
    </card>

    <card>
        <title>Maximum "Pixel Ratio"</title>
        <input-field type="single-select">
            <name>ciMaximumPixelRatio</name>
            <options>
                <option>
                    <id>1</id>
                    <name>1</name>
                </option>
                <option>
                    <id>1.5</id>
                    <name>1.5</name>
                </option>
                <option>
                    <id>2</id>
                    <name>2</name>
                </option>
            </options>
            <defaultValue>2</defaultValue>
            <label>
                List of supported device pixel ratios, eg 2 for Retina devices.
            </label>
        </input-field>
    </card>

    <card>
        <title>Remove V7</title>
        <input-field type="bool">
            <name>ciRemoveV7</name>
            <label>Removes the "/v7" part in URL format. Activate for token created after October 20th, 2021.</label>
            <defaultValue>true</defaultValue>
        </input-field>
    </card>

    <card>
        <title>Custom js function</title>
        <input-field type="textarea">
            <name>ciCustomFunction</name>
            <label>The valid js function starting with { and finishing with }</label>
            <placeholder>{ console.log('example'); }</placeholder>
        </input-field>
    </card>

    <card>
        <title>Custom library options</title>
        <input-field type="text">
            <name>ciCustomLibrary</name>
            <label>Modifies the library URL (to add transformations)</label>
            <placeholder>grey=1</placeholder>
        </input-field>
    </card>
</config>